* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #101820ff ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*cursor: url('/cursor.png'), auto;*/
}
.navbar {
    /*background-color: rgb(238, 236, 232);*/
    width: 80%;
    height: 80%;
}
/*.music.box {
    width: auto;
}*/
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 23%;
    background-color: transparent;
    
    font-size: 18px;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    list-style-type: none;
}
li {
    padding: 2px;
}
li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2aa4cff;
    padding: 3px;
    text-decoration: none;
    text-align: right;
}
@keyframes glowing {
    0% {text-shadow: 0 0 10px #f2aa4cff;}
    50% {text-shadow: 0 0 25px #f2aa4cff;}
    100% {text-shadow: 0 0 30px #f2aa4cff;}
}
li a:hover {
    
    color: rgb(143, 140, 141);
   
    transition: ease 0.5s;
    animation: glowing 2s linear infinite;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97%;
    height: 100vh;
    margin: 25px auto;
    border-radius: 15px;
}
.intro {
    display: contents;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.intro b {
    color: #f2aa4cff;
}
.intro span {
    color: #f2aa4cff;
}
.intro h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: left;
    color: rgb(143, 138, 139);
    margin-bottom: 5px;
    padding: 5px;
    width: 60%;
}
/*.typing {
    width: 0;
    overflow: hidden;
    animation: typing 10s linear  infinite;
}
@keyframes typing {
    from {width: 20%;}
    to {width: 50%;}
}*/
.section-paragraph {
    margin-top: 6px;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(160, 133, 100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-paragraph-2 {
    width: 75%;
    margin-top: 15px;
    text-align: left;
    font-size: 1.18rem;
    color: rgb(122, 117, 111);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons {
    padding: 10px;
    align-items: center;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.buttons button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6vw;
    background-color: transparent;
    border-color: #696667ff;
    border-radius: 4px;
    border-style: groove;
    border-width: 1.5px;
    padding: 15px;
    /*box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);*/
}
.buttons button:hover {
    background-color: rgba(165, 163, 164, 0.082);
    transform: scale(.9);
}

.buttons button  p a {
    text-decoration: none;
    color: #f2aa4cff;
    margin-right: 0.5vw;
}
.buttons button b {
    color: #f2aa4cff;
}

/*about.css here*/

.about {
    width: 73%;
    padding: 10px;
    margin: 90px auto;
}
.about-para {
    /*background-color: aquamarine;*/
    font-size: 20px;
    text-align: left;
    display: inline-block;
    width: 49%;
}
.heading-h {
    margin-top: 7rem;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2aa4cff;
}
.about-container {
    /*background-color: antiquewhite;*/
    text-align: right;
    display: inline-block;
    width: 49%;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
}
.education {
    /*overflow-y: auto;
    height: 230px;*/
   /*background-color: rgba(41, 68, 92, 0.171);*/
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    margin:15px  ;
    
}
.skill-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.skills-writting {
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.section-heading {
    margin-top: 2rem;
    color: #f2aa4cff;
}
.skills-p {
    color: rgb(109, 106, 103);
    text-align: center;
    margin: 10px auto ;
}
.tag {
    background-color: rgba(41, 68, 92, 0.171);
    border: 1px solid #696667ff;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    color: rgb(143, 138, 139);
    text-decoration: none;
    border-radius: 8px;
}
.tag:hover {
    background-color: rgb(24, 40, 54);
    transform: scale(1.2);
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
}


.projects {
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.projects-disc {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), 1fr)); /* 3 columns per row, adjust as needed */
    gap: 10px;
    padding: 20px;
    /*background-color: aquamarine;*/
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.card {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgba(41, 68, 92, 0.171);
    text-align: center;
    border: 1px solid #101820ff;
    border-radius: 15px;
    padding: 30px;
    transition: 1s, tranform 1s;
    box-shadow: 0 0px 4px 0 rgba(24, 24, 24, 0.2), 0 0px 2px 0 rgba(22, 22, 22, 0.19) ; 
    transform: translate3d(180deg);
}
.card:hover {
    background-color: rgb(24, 40, 54);
    box-shadow: 0 0px 4px 0 rgba(24, 24, 24, 0.2), 0 0px 15px 10px rgba(22, 22, 22, 0.19) ; 
    
}
.card-header {
   /*background-color: black;*/
   display: flex;
   justify-content: left;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.card-header a {
    display: flex;
    padding: 5px;
    text-decoration: none; 
    text-align: right;
    color: rgba(240, 209, 169, 0.568);
    font-size: 22.px;
    
}
.card-heading {
    padding: 10px;
    text-align: left;
   color: #696667ff;
}
.card-paragraph p {
    font-size: 17px;
    text-align: left;
    color: #706f6f98;
    padding: 5px;
}



/*style for slid-show */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 50vh;
  max-width: 55%;
  position: relative;
  margin: auto;
  margin-top:15rem;
  margin-bottom: 10rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(17, 17, 17, 0.267);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*footer style*/
footer{
    background-color: none;
    text-align: center;
    margin: 10px;
    padding:50px;
}
footer p {
    color: #696667ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.social-icons {
    text-align: center;
    margin: 5px;
}
.social-icons a {
    color: #f2aa4cff;
    padding: 2px;
}
.social-icons a:hover {
    color: #696667ff;
    transition: ease-out 0.5s;
}